* {
    background-color: rgb(7, 3, 46);
}

.container {
    box-sizing: border-box;
    width: 480px;
    height: 510px;
    margin: auto;
}

.options {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

#board {
    display: flex;
    box-sizing: border-box;
    height: 480px;
}

button {
    color: rgb(17, 236, 17);
    border: 2px solid rgb(17, 236, 17);
    width: 70px;
    height: 25px;
}

button:hover {
    color: rgb(7, 3, 46);
    border: 2px solid rgb(7, 3, 46);
    background-color: rgb(17, 236, 17);
}

.slider-box {
    color: rgb(17, 236, 17);
    margin: 10px auto;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 80%;

}

label {
    color: rgb(17, 236, 17);
}

#points {
    color: rgb(17, 236, 17);
    width: 10px;   
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #000;
    border: 1px solid #008000;
    outline: none;
}    

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(17, 236, 17);
    cursor: pointer;
    border-radius: 100%;
}

.color-box {
    display: flex;
    width: 24%;
    justify-content: center;
}

#colorlabel {
    margin: 5px;
}

.colorpicker {
    border: none;
    width: 25%;

    
}

